[flake8]
# it's not a bug that we aren't using all of hacking, ignore:
# E402: module level import not at top of file
# F401: 'inference_lv' imported but unused
# ignore = E402,F401
max-line-length = 120
